.bar-nav{
    position: fixed;
}

.cont_body {
    margin-top: 7vh;
    
}
.homeanime h2{
    /* animation: 2s ease-in 1s reverse running slidein; */
    /* animation:
  3s linear slidein,
  3s ease-out 5s slideout; */
}



@media (min-width:640px) {
    
.contservices{
    margin:0 15px;
    
}
}

@media (min-width:768px) {
    
.contservices{
    margin:0 25px;
    
}
}