.bar-nav {
    position: fixed;
}

.cont_body {
    margin-top: 7vh;
    
}

.contservices{
    /* border: 3px solid rgb(185, 106, 2); */
    /* margin:0 2px; */
    
    
}

@media (min-width:640px) {
    
.contservices{
    margin:0 15px;
    
}
}

@media (min-width:768px) {
    
.contservices{
    margin:0 25px;
    
}
}